<nav class="navbar navbar-expand-lg navbar-light bg-light menu">
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/images/logo.jpg"
      width="170"
      height="40"
      alt="mymboga-logo"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav d-flex justify-content-end navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="shopping.html">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cont.html">Contacts us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="form.html">Join-a-farmer</a>
      </li>

      <div id="ex4">
        <span class="p1 fa-stack fa-lg has-badge" data-count="4">
          <!--<i class="p2 fa fa-circle fa-stack-2x"></i>-->
          <i
            class="p3 fa fa-shopping-cart fa-stack-1x xfa-inverse"
            data-count="4b"
          ></i>
        </span>
      </div>
    </ul>
  </div>
</nav>
