<!-- main content -->
<div class="container-fluid">
  <div class="row text-light">
    <div class="col-md-4 land align-middle">
      <h1 class="align-text-bottom"><br />Fresh vegetables directly</h1>
      <p>from the farmers' to your doorsteps</p>
    </div>

    <!-- <div class="col-md-3 bg-success text-center "></div> -->
    <div class="col-md-3 bg-ora text-center"></div>

    <div class="col-md-3 bg-hom text-justified">
      <br />
      <p>
        We have every variaties, from green leafy, allium , marrow vegetables,
        organic vegetables to roots to edible stem system. You name it, we have
        it. According to your customers preferences, you get it according to
        their background and most importanly according to their bugdet and the
        quality it deserves. The ordering process:You view, make an order, pay
        and it is delivered at you.
      </p>
    </div>

    <div class="col-md-2 bg-hom1 text-justified">
      <br />
      <p>Want to become a farmer?</p>
      <br />
      <button type="button" class="btn btn-default" id="button">
        <a id="register" href="form.html">SIGN UP</a>
      </button>
    </div>
  </div>
  <div class="row text-light">
    <!-- <div class="col-md-4 bg-mac">
                
            </div>
            <div class="col-md-3 bg-mar">
                
            </div>  -->

    <div class="col-md-4 bg-kale text-center"></div>

    <div class="col-md-3 bg-success text-justified">
      <p>THINKING OF GOING</p>
      <h2 class="text-bold">ORG-</h2>
      <p>ARNIC?</p>

      <p>
        Thinking of changing your diet to go organic? then you're in the right
        place. growed under the methods that comply with the starndads of
        organic farming. Everything you ever wanted in organic food we got it.
        no chemicals, pure fertalisers, specified pesticides. You think it we
        get it and we deliver.
      </p>
    </div>

    <div class="col-md-3 bg-ora text-justified">
      <br /><br /><br /><br /><br />
    </div>
    <button type="button" class="btn btn-default" id="button">
      <a href="shopping.html" id="shop">Start Shopping</a>
    </button>
    <!--<div class="col-md-2 bg-orb text-justified"></div> -->

    <div class="row text-light">
      <div class="col-md-4 bg-woman text-justified"></div>

      <div class="col-md-1 bg-mar"></div>

      <div class="col-md-3 bg-mar">
        <p>ALL YOUR VEGETABLES FRESH AND</p>
        <h3>AFFOR-</h3>
        <p>DABLE</p>
        We have heard the cry and we came to your help. At my-mboga you get all
        your quality products directly from the farmer to you, forget all that
        market struggleS of trying to get the best at high quantity after the
        cartels have selected the best and left you with nothing to sell at the
        kiosks. We deliver from the farm to you and you get to save more and the
        farmer to gain even more. my mboga your mboga.
      </div>

      <div class="col-md-4 bg-man text-center"></div>
    </div>
  </div>
</div>
<!-- main content -->
