<div>
    <form>
        <div>
            <h2 style="text-align:center">LOGIN</h2>
        </div>

       
         <div style="display:block;" class="signupformclass">
                    <label>First name </label>   
                        <input type="text" class="form-control" placeholder="">

                          <label>Last name</label>
                        <input type="text" class="form-control" placeholder=" ">

                     <label>Password</label>
                        <input type="text" class="form-control" type="password" placeholder=" ">
                        <div>
                        <small class="text-muted">Click Here to Login</small>                                          

                        </div>
                        <div>
                        <button type="submit" class="btn btn-primary btn-block" style="width:100px; padding-top: 5px"> Login </button>
                        </div>
        </div>
        

    </form>
</div>